.table-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.table-wrapper {
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-body {
    max-height: 200px;
    overflow-y: auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

.update-dates-btn,
.update-csv-btn,
.update-totals-btn {
    padding: 5px 5px;
    font-size: 10px;
}

.editable-cell {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: inherit;
}

.page-counter {
    text-align: center;
    margin-bottom: 20px;
}

.page-btn {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
}

.chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.chart-wrapper {
    text-align: center;
    padding: 10px;
}